.UpdateButton {
  margin-top: 40px;
  min-width: 235px;
  line-height: 43px;

  font-size: 16px;
  background-color: #07C160 !important;

  border-radius: 5px;
  border: 0 !important;
  color: white !important;
}
