.module {
  margin-bottom: 16px;
  .line {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;
  }
  .icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  .title {
    font-size: 18px;
    color: #5780ea;
    flex: 1;
  }
  .content {
    padding: 10px;
    color: #4f5c6c;
    font-size: 18px;
    background: #fbfbfb;
    border-radius: 8px;
  }
}
.select {
  font-size: 12px;
}
